{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# MODIFIED: Changed py-4 to pt-0 pb-4 to move content up #}
    <div class="container-fluid text-center pt-0 pb-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                {# MODIFIED: Changed text-dark to text-light. Retained display-3, logo-font, mb-3, and style for centering/no-wrap #}
                <h1 class="display-3 logo-font mb-3 text-light text-center">
                <strong>ROCKARIA</strong><br>
                <span class="fs-4 fw-light">An Exciting One-Off Event</span>
                </h1>

                {# Yellow Box Paragraph: Explicitly centered #}
                <p class="lead mb-4 text-dark bg-warning p-3 d-inline-block mx-auto">
                    Towneley Park Burnley July 26!
                </p>

                <div class="my-5">
                    <h4>
                        <a href="{% url 'bands' %}" class="btn btn-lg btn-warning rounded-pill text-uppercase py-3 px-4 me-3">Our Bands</a>
                        <a href="{% url 'concerts' %}" class="btn btn-lg btn-outline-warning rounded-pill text-uppercase py-3 px-4">Concerts</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <style>
    /* Blue highlight box (still optional, but cleaned up) */
    .highlight-blue-box {
      background-color: rgba(173, 216, 230, 0.7);
      padding: 10px 15px;
      border-radius: 5px;
      display: inline-block;
      width: 100%;
    }

    /* Hero heading (ROCKARIA) styles */
    .logo-font {
      line-height: 1.1;
      word-break: break-word;
      text-align: center;
    }

    .logo-font strong {
      font-size: 3rem;
    }

    .logo-font span {
      display: block;
      font-size: 1.25rem;
      font-weight: 300;
      margin-top: 0.5rem;
    }

    @media (max-width: 576px) {
      .logo-font strong {
        font-size: 2.25rem;
      }
      .logo-font span {
        font-size: 1rem;
      }
    }
  </style>
{% endblock %}
