<!-- Account Dropdown -->
<li class="nav-item d-lg-none dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="mobileAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-user"></i> Account
  </a>
  <ul class="dropdown-menu" aria-labelledby="mobileAccount">
    {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
        <li><a class="dropdown-item" href="#">Product Management</a></li>
      {% endif %}
      <li><a class="dropdown-item" href="#">My Profile</a></li>
      <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
      <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
      <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
    {% endif %}
  </ul>
</li>

<!-- Shopping Cart -->
<li class="nav-item d-lg-none">
  <a class="nav-link {% if grand_total %}text-primary fw-bold{% else %}text-white{% endif %}" href="#">
    <i class="fas fa-shopping-bag"></i>
    {{ currency }}{{ grand_total|default_if_none:"0.00"|floatformat:2 }}
  </a>
</li>
